@mixin unselectable {
  user-select: none;
}

@mixin link-simplify {
  a {
    &:link {
      color: var(--color);
    }
    &:visited {
      color: var(--color);
    }
  }
}

@mixin link-recognizable {
  a {
    &:link {
      color: #90caf9;
    }
    &:visited {
      color: #90caf9;
    }
    text-decoration: underline;
  }
}

@import "page/header";
@import "page/home";
@import "page/packages";
