<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118251040-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-118251040-1');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>poacpm</title>
    <meta name="description" content="Modern Package Manager for C++ Developers. poacpm is the package manager that for open source. Easy to introduce to your C++ project, you can use the package intuitively.">
    <meta name="author" content="matken">
    <meta property="og:title" content="poacpm">
    <meta property="og:site_name" content="poac.pm">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://poac.pm">
    <!-- <meta property="og:image" content="ogpのURL貼る">  -->
    <meta property="og:description" content="Modern Package Manager for C++ Developers. poacpm is the package manager that for open source. Easy to introduce to your C++ project, you can use the package intuitively.">
    <!-- <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="サイトのURL貼る">
    <meta name="twitter:image" content="ogpのURL貼る"> -->

    <!--
    <link rel="icon" type="image/x-icon" href="<%= static_path(@conn, "/static/images/favicon.ico") %>" />
    <link rel="apple-touch-icon" sizes="152x152" href="<%= static_path(@conn, "/static/images/apple-touch-icon.png") %>" />
    -->

    <!-- All CSS files in the assets/css directory are bound to app.css by brunch -->
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <!-- https://fontawesome.com/get-started -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <!-- https://fonts.google.com -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
