.header {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  height: 74px;
}
.header-menu {
  display: flex;

  height: 74px;
  align-items: center;
  justify-content: space-between;
  & > * {
    //@include unselectable;
  }
}
.header-item {
  font-weight: 900;
  font-style: normal;
  letter-spacing: 1.25px;
  font-size: 10px;
  line-height: 12px;
  text-decoration: none;
  transition: 0.3s;
  padding: 20px;
}
.header-logo {
  width: 100px;
  height: 32px;
}
.poac {
  fill: currentColor;
}

.header-list-menu li {
  list-style: none;
  padding-right: 30px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

@media (max-width: 500px) {
  .header {
    .header-list-menu {
      padding: 0;
    }
    .header-item {
      padding: 5px;
    }
    .header-item-logo {
      width: 30px;
      padding: 0;
    }
    .poac {
      display: none;
    }
  }
}
