.header {
  .header-menu {
    & > .header-item-logo {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 2;
      -webkit-order: 2;
      order: 2;
    }
    & > .hm_wrap {
      -webkit-box-ordinal-group: 1;
      -ms-flex-order: 1;
      -webkit-order: 1;
      order: 1;
    }
  }
  .header-list-menu {
    padding: 0;
  }
  .header-item {
    padding: 5px;
  }
  .header-list-menu li {
    width: 80%;
    display: block;

    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    padding: 10px 5px;

    border-top: 1px solid #ebebeb;
  }
  .header-item-logo {
    width: 30px;
    padding: 0;
    z-index: 3;
  }

  .logo {
    width: 40px;
  }
  .poac {
    display: none;
  }

  // menu button
  .hm_btn {
    position: relative;
    width: 15px;
    height: 8px;

    padding: 5px 0;

    display: block;
    float: left;
    z-index: 3;
  }
  .hm_btn::before {
    -webkit-box-shadow: #000 0 7px 0;
    box-shadow: #000 0 5px 0;
  }
  .hm_btn::after {
    bottom: 0;
  }
  .hm_btn::before,
  .hm_btn::after {
    width: 15px;
    height: 2px;
    background: #000;
    display: block;
    content: '';
    position: absolute;
    -webkit-transition: -webkit-box-shadow 0.2s linear, -webkit-transform 0.2s 0.2s;
    transition: box-shadow 0.2s linear, transform 0.2s 0.2s;
  }
  // ------

  .hm_menu_wrap {
    width: 100%;
    position: absolute;
    background: white;
    margin-left: -5%;
    top: -100%;
    -webkit-transition: top 0.4s;
    transition: top 0.4s;
    z-index: 2;
  }

  // menu animation
  .hm_menu_check:checked ~ .hm_btn::before {
    -webkit-box-shadow: transparent 0 0 0;
    box-shadow: transparent 0 0 0;
    -webkit-transform: rotate(45deg) translate3d(6px, 2px, 0);
    transform: rotate(45deg) translate3d(6px, 2px, 0);
  }
  .hm_menu_check:checked ~ .hm_btn::after {
    -webkit-transform: rotate(-45deg) translate3d(6px, -2px, 0);
    transform: rotate(-45deg) translate3d(6px, -2px, 0);
  }
  .hm_menu_check:checked ~ .hm_menu_wrap {
    padding-top: 60px;
    top: 0;
    //top: 60px;
  }
  // ------

  // close
  .hm_menu_close {
    width: 0;
    height: 0;
    opacity: 0;
    bottom: 0;
    margin-left: -5%;
    position: absolute;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    z-index: 1;
  }
  .hm_menu_close label {
    display: block;
    width: 100%;
    height: 100%;
  }
  .hm_menu_check:checked ~ .hm_menu_close {
    html, body {
      overflow: hidden;
    }

    width: 100%;
    height: 10000px;
    background: #000;
    opacity: 0.8;
  }
  // ------
}
