.donate {
  background-color: #2F3038;
  .header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50%;
    nav {
      text-align: right;
      list-style: none;
      overflow: hidden;
      li {
        font-family: 'europa', sans-serif;
        font-weight: 400;
        font-style: normal;
        padding-top: 20px;
        padding-right: 30px;
        margin-left: -50px;
        width: 140px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        color: #a9a9a9;
        a {
          font-family: 'europa', sans-serif;
          font-weight: 400;
          font-style: normal;
          text-decoration: none;
          color: #f0f0f0;
        }
      }
    }
  }
  .pull-left {
    text-align: left;
    float: left;
    padding-left: 70px;
  }
  @mixin placeholder {
    &::-webkit-input-placeholder { @content }
    &:-moz-placeholder           { @content }
    &::-moz-placeholder          { @content }
    &::-ms-input-placeholder     { @content }
  }
  .search input {
    @include placeholder {
      color: #e6e6e6;
      font-family: "Lato", sans-serif;
      font-weight: 300;
    }
    width: 90%;
    //min-width: 300px;
    height: 30px;
    //padding-right: 20px;
    padding-left: 20px;
    border: 1px #e6e6e6 solid;
    background: transparent;
    font-family: "Lato", sans-serif;
    outline: 0;
    border-radius: 5px;
    color: #e6e6e6;
    transition: 0.3s;
    &:focus {
      background: linear-gradient(135deg, #242424, #17114c);
    }
  }
}
