.index {
  width: 100%;
  height: 100%;
  background-color: white;
  .top {
    background-size: cover;
    background-color: #0f071c;
    //background-image: url("/images/poacpm-speed.png");
    .text {
      display: block;
      width: 80%;
      margin-right: auto;
      margin-left: auto;
      min-width: 300px;
    }
    h1, h2 {
      text-align: center;
      margin-bottom: 0;
    }
    h1 {
      font-family: "Heebo", sans-serif;
      font-weight: 300;
      font-size: 36px;
      font-style: normal;
      letter-spacing: -0.86px;
      padding-top: 100px;
      padding-bottom: 30px;
      color: white;
    }
    h2 {
      font-family: "libertad", sans-serif;
      font-weight: 200;
      font-style: normal;
      letter-spacing: -0.86px;
      margin-top: 10px;
      color: #e2e2e2;
    }
    .table {
      width: 70%;
      min-width: 300px;
      text-align: center;
      margin-top: 50px;
      padding-bottom: 80px;
      margin-left: auto;
      margin-right: auto;
    }
    .table .button {
      font-family: "Lato", sans-serif;
      font-weight: 400;
      display: inline-block;
      padding: 7px 20px;
      text-align: center;
      width: 200px;
      min-width: 100px;
      margin: 15px;
      text-decoration: none;
      border: solid 2px whitesmoke;
      border-radius: 5px;
      color: whitesmoke;
      transition: 0.4s;
      &:hover {
        background-color: rgba(54, 212, 237, 0.9);
      }
    }
  }
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    background-color: white;
    .table {
      width: 70%;
      min-width: 200px;
      margin-right: auto;
      margin-left: auto;
    }
    .text {
      display: table-cell;
      vertical-align: middle;
      width: 70%; height: 200px;
      h2 {
        margin-top: -5px;
      }
      p {
        margin-top: 0;
        margin-bottom: 5px;
      }
    }
    .image {
      display: table-cell;
      width: 200px; height: 200px;
      i {
        position: relative;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform : translate(-50%,-50%);
        transform : translate(-50%,-50%);
        text-align: center;
      }
    }
  }
  .size-80 { font-size: 80px; }
  .size-90 { font-size: 90px; }
  .back-gray { background-color: #f3f3f3; }
  .text-center { text-align: center; }
  .padtop-50 { padding-top: 50px; }
  .github {
    display: inline-block;
    padding: 7px 20px;
    margin-top: 10px;
    margin-bottom: 50px;
    text-decoration: none;
    color: #36d4ed;
    border: solid 2px #36d4ed;
    border-radius: 25px;
    transition: 0.4s;
    &:hover {
      background: #36d4ed;
      color: white;
    }
  }
  hr {
    width: 90%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  footer {
    background-color: black;
    color: whitesmoke;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 13px;
    margin-top: -40px;
    padding-top: 18px;
    padding-bottom: 18px;
    display: table;
    width: 100%;
    .links {
      width: 70%;
      display: table-cell;
      a {
        margin-left: 30px;
        margin-right: 10px;
        text-decoration: none;
        color: #36d4ed;
      }
    }
    .copyright {
      width: 30%;
      min-width: 140px;
      display: table-cell;
      text-align : right;
      padding-right: 30px;
    }
  }
}
