.packages {
  width: 100vw;
  height: 100%;
  background-color: #2F3038;
  h1, h2 {
    text-align: center;
    margin-bottom: 0;
  }
  h1 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200px;
    padding-top: 10px;
    padding-bottom: 30px;
    color: #000000;
  }
  h2 {
    font-family: "libertad", sans-serif;
    font-weight: 200;
    font-style: normal;
    margin-top: 10px;
    color: #000000;
  }
  .header hr {
    padding-top: 100px;
    border: 1px white solid;
  }
  .header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50%;
  }
  .logo {
    width: 130px;
    height: 45px;
    display: inline-block;
    margin-left: 1em;
    background-size: cover;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  .pull-left {
    text-align: left;
    float: left;
    padding-left: 100px;
  }
  nav {
    text-align: right;
    list-style: none;
    overflow: hidden;
  }
  nav li {
    font-family: 'europa', sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 20px;
    padding-right: 30px;
    margin-left: -50px;
    width: 140px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    color: #a9a9a9;
  }
  nav li a {
    font-family: 'europa', sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #f0f0f0;
  }
  .icon {
    text-align: center;
    margin-bottom: -100px;
    margin-top: 100px;
    font-size: 1em;
  }
}