.packages {
  background-color: #0f071c;
  h1, h2 {
    text-align: center;
    margin-bottom: 0;
  }
  h1 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200px;
    padding-top: 10px;
    padding-bottom: 30px;
    color: #000000;
  }
  h2 {
    font-family: "libertad", sans-serif;
    font-weight: 200;
    font-style: normal;
    margin-top: 10px;
    color: #000000;
  }
  hr {
    margin-top: 30px;
    border: 1px white solid;
  }
  .sort div {
    text-align: center;
    margin-bottom: 0;
  }
  select[name="sort"] {
  }
}