.settings {
  width: 100%;
  height: 100%;
  background-color: #0f071c;
  color: whitesmoke;
  font-family: "Lato", sans-serif;
  font-weight: 400;

  .container {
    margin-top: 80px;
    padding-left: 60px;
    padding-right: 60px;
    min-height: 1000px;
  }

  .menu {
    display: inline-block;
    width: 245px;
    height: 40px;
    padding-right: 60px;
  }
  .menu-heading {
    display: block;
    box-sizing: border-box;
    border: 1px solid whitesmoke;
    font-size: 18px;
    padding: 8px 10px;
    margin: 0;
    background-color: #17114c;
    &:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
  .menu-item {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    font-size: 14px;
    padding: 8px 10px;
    height: 40px;
    &:hover {
      background-color: #17c9ed;
    }
    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
  .selected {
    font-weight: bold;
    padding-top: 10px;
    cursor: default;
    &::before {
      background-color: rgb(227, 98, 9);
      bottom: 0px;
      content: "";
      display: inline-block;
      height: 15px;
      left: 0px;
      top: 0px;
      width: 2px;
    }
    &:hover { background-color: transparent; }
  }

  .content {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    min-width: 300px;
  }

  .list {
    margin-top: 20px;
    padding-right: 60px;
    padding-left: 60px;
  }
  .list-item {
    display: block;
    box-sizing: border-box;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    font-size: 14px;
    padding: 8px 10px;
    height: 40px;
    &:first-child {
      border-top: 1px solid whitesmoke;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    i { margin-right: 5px; }
  }
}