.settings {
  font-family: "Lato", sans-serif;
  font-weight: 400;

  hr {
    margin-top: 0;
  }

  .container {
    margin-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    min-height: 1000px;
  }

  .menu {
    font-family: "Lato", sans-serif;
    font-weight: 400;

    display: inline-block;
    width: 20%;
    height: 100vw;

    border-right: 1px solid whitesmoke;
  }
  .menu-heading {
    display: block;
    box-sizing: border-box;
    border: 1px solid whitesmoke;
    font-size: 18px;
    padding: 8px 10px;
    margin: 0;
    background-color: #0F1D35;
    &:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
  .menu-item {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    font-size: 14px;
    padding: 8px 10px;
    height: 40px;
    &:hover {
      color: cornflowerblue;
    }
    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
  .selected {
    color: cornflowerblue;
    //font-weight: bold;
    padding-top: 10px;
    cursor: default;
    &::before {
      background-color: cornflowerblue;
      bottom: 0;
      content: "";
      display: inline-block;
      height: 15px;
      left: 0;
      top: 0;
      width: 2px;
    }
    &:hover { background-color: transparent; }
  }

  .content {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    min-width: 300px;
    padding-left: 60px;
  }

  .list {
    margin-top: 20px;
    padding-right: 60px;
    padding-left: 60px;
  }
  .list-item {
    display: block;
    box-sizing: border-box;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    font-size: 14px;
    padding: 8px 10px;
    height: 40px;
    &:first-child {
      border-top: 1px solid whitesmoke;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  .token {
    margin-top: 20px;
    padding-right: 60px;
    padding-left: 60px;
    i { margin-right: 5px; }
  }
  .token-item {
    display: block;
    box-sizing: border-box;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    font-size: 14px;
    padding: 8px 10px;
    height: 40px;
    &:first-child {
      border-top: 1px solid whitesmoke;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
  .delete-token {
    float: right;
  }
}