.spinner {
  height: 100px;
  width: 20%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  @include theme-color;
  fill: currentColor;
}


@mixin unselectable {
  user-select: none;
}

.selectable {
  user-select: auto;
}


.common-button {
  @include unselectable;
  padding: 10px 20px;
  background-color: #53A0FD;
  color: white;
  font-size: 10px;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
}

.background-color-red {
  background-color: #b90000;
  &:hover {
    background-color: #d70000;
  }
}

.margin-top-30 {
  margin-top: 30px;
}

.divider {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
}
.divider-90 {
  width: 90%;
  margin-top: 80px;
  display: block;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
