.index {
  width: 90%;
  margin-left: auto;

  .top {
    background-size: cover;
    margin-top: 50px;
    .text {
      display: block;
      min-width: 300px;
      text-align: left;
      float: left;
      margin-right: 5%;
    }
    h1, h2 {
      text-align: left;
    }
    h1 {
      width: 400px;
      font-family: "montserrat", sans-serif;
      font-weight: 700;
      font-size: 36px;
      font-style: normal;
      padding-top: 200px;
      padding-bottom: 30px;
    }
    h2 {
      width: 400px;
      font-family: "montserrat", sans-serif;
      font-weight: 600;
      font-size: 15px;
      font-style: normal;
      margin-top: 10px;
    }

    &:after { // clear float
      display: block;
      clear: both;
      height: 0;
      visibility: hidden;
      content: ".";
    }
  }

  .fadein {
    opacity : 0;
    transform : translate(0, 50px);
    transition : all 300ms;
  }
  .scrollin {
    opacity : 1;
    transform : translate(0, 0);
  }

  .top-svg-container {
    overflow: hidden;
  }
  .top-svg-row {
    right: -150px;
  }
  .top-svg {
    padding-right: 150px;
    width: 800px;
    height: 600px;
  }

  // Terminal SVG Style
  .foreground { fill: white; } // text
  .background { fill: #555454; } // terminal
  .color1 { fill: #ff005b; } // red
  .color2 { fill: #48c95f; } // green
  .color3 { fill: #f7c601; } // yellow
  .color4 { fill: #0094fe; } // blue
  .color5 { fill: #FF2D55; } // purple
  #screen {
    font-family: 'Menlo', monospace;
    font-style: normal;
    font-size: 14px;
  }
  text {
    dominant-baseline: text-before-edge;
  }

  .abstract {
    margin-top: 100px;
    padding-top: 40px;

    font-family: "montserrat", sans-serif;
    font-weight: 300;
    h3 {
      font-weight: 400;
      font-style: normal;
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
    h2 {
      width: 300px;
      font-weight: 700;
      font-size: 36px;
      font-style: normal;
    }
    p {
      width: 400px;
      line-height: 24px;
    }
  }

  .section {
    padding-top: 80px;

    display: flex;
    justify-content: space-around;
  }

  .card {
    width: 24%;
    display: inline-block;

    $padding-size: 50px;
    padding: $padding-size;
    vertical-align: top;

    text-align: left;

    font-family: "montserrat", sans-serif;
    h2 {
      margin-top: 0;
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 19px;
      font-style: normal;
    }
    p {
      margin-top: 0;
      margin-bottom: 0;
      font-weight: 300;
      font-size: 14px;
    }
    &:hover {
      transition-delay: 0s;
      box-shadow: 0 3px 15px 0 #b9b9b9;
    }

    &:first-child {
      margin-left: calc(-1 * #{$padding-size});
    }
    &:last-child {
      margin-right: calc(10vw - #{$padding-size});
    }
  }

  .code-block {
    &:before {
      content: "$ ";
    }
    font-family: "Menlo", sans-serif;
    font-weight: 500;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 3px 15px 0 #b9b9b9;
  }


  .aa-input-container {
    //vertical-align: center;
    color: #833c9f;
    & > * {
      @include unselectable;
    }
  }

  .aa-input-search {
    width: 300px;
    height: 40px;

    margin-top: 50px;
    padding: 12px;

    float: left;

    border: 2px solid #e4e4e4;
    font-family: "montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;

    border-radius: 4px;
    transition: .2s;

    box-shadow: 0 3px 15px 0 #b9b9b9;
    font-size: 11px;
    box-sizing: border-box;
    //color: #333;
    -webkit-appearance: none;
    -moz-appearance: none;

    @include theme-color;

    outline: 0;
    &:focus {
      //color: black;
      outline: 0;
      border-color: #3a96cf;
      box-shadow: 0 3px 15px 0 rgba(58, 150, 207, 0.1);
    }
  }

  .aa-hint {
    color: #c3c3c3;
  }
  .aa-dropdown-menu {
    @include theme-color;

    border: 2px solid rgba(228, 228, 228, 0.6);
    border-top-width: 1px;
    font-family: "Montserrat", sans-serif;
    width: 300px;
    box-shadow: 4px 4px 0 rgba(241, 241, 241, 0.35);
    font-size: 11px;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .aa-suggestion {
    padding: 12px;
    border-top: 1px solid rgba(228, 228, 228, 0.6);
    cursor: pointer;
    transition: .2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .aa-suggestion:hover, .aa-suggestion.aa-cursor {
    background-color: rgba(241, 241, 241, 0.35);
  }
  .aa-suggestion > span:first-child {
    @include theme-color;
  }
  .aa-suggestion > span:last-child {
    @include theme-color;
  }
  .aa-suggestion > span:first-child em, .aa-suggestion > span:last-child em {
    font-weight: 700;
    font-style: normal;
    background-color: rgba(58, 150, 207, 0.1);
    padding: 2px 0 2px 2px;
  }

  .book-link {
    text-decoration: none;
    &:link { color: #28629b; }
    &:visited { color: #28629b; }
    &:hover { color: #28629b; text-decoration: underline; }
    &:active { color: #28629b; text-decoration: underline; }
  }
}

@media (max-width: 1150px) {
  .index {
    #background {
      display: none;
    }
    .top {
      //margin-top: 0;
    }
    .top-svg {
      float: none;
      right: 0;
      position: relative;
      margin-right: auto;
      margin-left: auto;
      width: 300px;
      height: 240px;
    }

    #Rectangle {
      x: 0;
      y: 0;
    }
    #OvalRed {
      cx: 41px;
      cy: 36px;
    }
    #OvalYellow {
      cx: 71px;
      cy: 36px;
    }
    #OvalGreen {
      cx: 101px;
      cy: 36px;
    }

    * {
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }


    h1 {
      padding: 0 !important;
      font-size: 21px !important;
      width: 250px !important;
    }
    h2 {
      font-size: 11px !important;
      width: 250px !important;
    }

    .aa-input-container {
      width: 250px;
      * { text-align: left; }
    }
    .algolia-autocomplete {
      width: 250px;
    }
    .aa-input-search {
      width: 383px;
      height: 53px;

      margin-top: 20px;
      margin-right: auto;
      margin-left: auto;

      font-size: 16px;
      transform-origin: top left;
      transform: scale(0.5625);

      float: none;
      left: 7% !important; // TODO:
      //font-size: 9px;
    }

    .aa-dropdown-menu {
      * { margin-left: 0; }
    }

    .abstract {
      margin-top: 30px;
      h3 {
        font-size: 11px;
      }
      p {
        width: 250px;
        font-size: 14px;
      }
    }

    .code-block {
      font-size: 10.3px !important;
      padding: 15px 0;
      margin-bottom: 10px;
    }

    .details {
      font-size: 11px !important;
      margin-top: 0;
    }

    .section {
      flex-direction: column;
      flex-wrap: wrap;
    }

    .card {
      min-width: 60%;
      h2 {
        width: 150px !important;
      }
    }
  }
}
