.notfound {
  width: 100vw;
  h1, h2 {
    text-align: center;
  }
  h1 {
    font-weight: 400;
    font-size: 200px;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  h2 {
    font-weight: 200;
    margin-top: 10px;
  }
}
