.packages { // TODO: containerとして抽象化できそう
  width: 80%;
  margin-right: auto;
  margin-left: auto;

  h1, h2 {
    text-align: center;
  }
  h1 {
    font-weight: 400;
    font-size: 200px;

    padding-top: 10px;
    padding-bottom: 30px;
  }
  h2 {
    margin-top: 10px;
  }

  a {
    text-decoration: none;
    color: dodgerblue;
    &:hover {
      text-decoration: underline;
    }
  }

  .search-top-container {
    height: 50px;
    line-height: 50px;
    margin: 50px 30px 0;
    vertical-align: middle;
  }

  .package-title {
    margin: 20px 0 10px;
    font-size: 30px;
  }

  .list-item {
    margin-bottom: 20px;
  }

  .ais-search-box--input {
    width: 100%;
    height: 40px;

    margin-top: 50px;
    padding: 12px;

    border: none;
    border-bottom: 2px solid #e4e4e4;
    background-color: transparent;

    font-family: "montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;

    transition: .2s;

    box-sizing: border-box;
    color: #333;
    -webkit-appearance: none;
    -moz-appearance: none;

    outline: 0;
    &:focus {
      color: black;
      outline: 0;
      border-color: #3a96cf;
    }
  }

  #search-refinement-list {
    float: left;
    width: 10%;
    margin-top: 50px;
    padding-right: 10px;
    border-right: 1px solid rgba(0, 0, 0, .1);
  }
  .ais-refinement-list--header {
    padding-bottom: 6px;
    margin-bottom: 6px;
    border-bottom: 2px solid rgba(0, 0, 0, .1);
  }
  .ais-refinement-list--item {
    margin-top: 6px;
  }
  .ais-refinement-list--count {
    padding: 2px 10px;
    border-radius: 31px;
    background-color: rgba(39, 81, 175, 0.0980392);
  }
  .ais-refinement-list--label {
    margin-bottom: 5px;
    font-size: 14px;
  }
  .ais-refinement-list--checkbox {
    margin-top: 4px;
    margin-right: 5px;
  }

  .search-results {
    width: 85%;
    float: right;
  }

  .ais-pagination {
    border: none;
    border-top: 1px solid #e4e4e4;

    margin-top: 50px;
    padding-top: 10px;
    padding-left: 0;

    height: 50px;
  }
  .ais-pagination--item__disabled {
    display: none !important;
  }
  .ais-pagination--item {
    & > * {
      &:hover {
        background-color: #e4e4e4;
      }
    }
  }
  .ais-pagination--item__active {
    font-weight: bold;
    pointer-events: none;
    & > * {
      color: gray;
    }
  }
  .ais-pagination--link {
    padding: 8px 12px;
    border: 1px solid #e4e4e4;
    border-radius: 3px;

    text-decoration: none;
    &:hover {
      text-decoration: none;
    }

    display: block;
  }

  .ais-search-box--reset {
    display: none;
  }
  #sbx-icon-search-13 {
    display: none;
  }
  .ais-pagination--item {
    display: inline-block;
    padding: 3px;
  }
  .ais-pagination--item__disabled {
    visibility: hidden;
  }

  .container {
    margin-top: 40px;
    margin-right: 91px;
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .hit-name {
    text-decoration: none;
    font-size: 18px;
    &:hover {
      text-decoration: underline;
    }
  }
  .hit-version {
    color: #8D989E;
    font-size: 17px;
    font-weight: 400;
    margin-left: 10px;
  }
  .hit-description {
    text-align: left;
    margin: 20px 0 0 0;
    color: gray;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .owners {
    //color: gray;
  }

  .package-root {
    margin-top: 60px;
  }

  .readme {
    width: 70%;
    //margin-top: 40px;
    float: left;
    h1 {
      font-size: 2.25rem;
      text-align: left;
      padding-bottom: 8px;
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      margin-top: 24px;
      margin-bottom: 16px;
    }
    h2 {
      text-align: left;
      padding-bottom: 8px;
      border-bottom: 1px solid rgba(0, 0, 0, .1);
    }
  }

  .details {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    //margin-top: 60px;
    padding-left: 50px;

    & > * {
      padding: 10px;
      border-bottom: 2px solid whitesmoke;
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
