@import "common";
@import "donate";
@import "footer";
@import "header";
@import "index";
@import "notfound";
@import "packages";
@import "settings";
@import "users";
* { -webkit-font-smoothing: antialiased; }
::selection {
  background: #3023AE;
  color: white;
}
::-moz-selection { // firefox
  background: #3023AE;
  color: white;
}
