.index {
  background-color: white;
  width: 80%;
  margin-right: auto;
  margin-left: auto;

  .top {
    background-size: cover;
    margin-top: 50px;
    .text {
      display: block;
      min-width: 300px;
      text-align: left;
    }
    h1, h2 {
      margin-bottom: 0;
    }
    h1 {
      width: 400px;
      font-family: "montserrat", sans-serif;
      font-weight: 700;
      font-size: 36px;
      font-style: normal;
      padding-top: 200px;
      padding-bottom: 30px;
    }
    h2 {
      width: 400px;
      font-family: "montserrat", sans-serif;
      font-weight: 600;
      font-size: 15px;
      font-style: normal;
      margin-top: 10px;
    }
  }

  .fadein {
    opacity : 0;
    transform : translate(0, 50px);
    transition : all 300ms;
  }
  .scrollin {
    opacity : 1;
    transform : translate(0, 0);
  }

  .top-image {
    display: block;
    float: right;
    position: absolute;
    right: -150px;
  }

  // Terminal SVG Style
  .foreground { fill: white; } // text
  .background { fill: #555454; } // terminal
  .color1 { fill: #ff005b; } // red
  .color2 { fill: #48c95f; } // green
  .color3 { fill: #f7c601; } // yellow
  .color4 { fill: #0094fe; } // blue
  .color5 { fill: #FF2D55; } // purple
  #screen {
    font-family: 'Menlo', monospace;
    font-style: normal;
    font-size: 14px;
  }
  text {
    dominant-baseline: text-before-edge;
  }

  .abstract {
    margin-top: 100px;
    padding-top: 40px;

    font-family: "montserrat", sans-serif;
    font-weight: 300;
    h3 {
      font-weight: 400;
      font-style: normal;
      font-size: 15px;
      text-transform: uppercase;
      letter-spacing: 3px;
    }
    h2 {
      width: 300px;
      font-weight: 700;
      font-size: 36px;
      font-style: normal;
    }
    p {
      width: 400px;
      line-height: 24px;
    }
  }

  .section {
    padding-top: 80px;

    display: flex;
    justify-content: space-around;
  }

  .card {
    width: 24%;
    display: inline-block;
    padding: 50px;
    vertical-align: top;

    text-align: left;

    font-family: "montserrat", sans-serif;
    h2 {
      margin-top: 0;
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 19px;
      font-style: normal;
    }
    p {
      margin-top: 0;
      margin-bottom: 0;
      font-weight: 300;
      font-size: 14px;
    }
    &:hover {
      transition-delay: 0s;
      box-shadow: 0 3px 15px 0 #b9b9b9;
    }
  }

  .code-block {
    font-family: "Menlo", sans-serif;
    font-weight: 500;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 3px 15px 0 #b9b9b9;
  }


  .aa-input-container {
    vertical-align: center;
    color: #833c9f;
    & > * {
      @include unselectable;
    }
  }

  .aa-input-search {
    width: 300px;
    height: 40px;

    margin-top: 50px;

    border: 1px #e6e6e6 solid;
    background-color: transparent;
    color: white;
    font-family: "montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    outline: 0;
    &:focus {
      color: black;
    }
  }
  .aa-input-search {
    float: left;

    width: 300px;
    padding: 12px;
    border: 2px solid #e4e4e4;
    border-radius: 4px;
    -webkit-transition: .2s;
    transition: .2s;
    font-family: "montserrat", sans-serif;
    box-shadow: 0 3px 15px 0 #b9b9b9;
    //box-shadow: 4px 4px 0 rgba(241, 241, 241, 0.35);
    font-size: 11px;
    box-sizing: border-box;
    color: #333;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &:focus {
      outline: 0;
      border-color: #3a96cf;
      box-shadow: 0 3px 15px 0 rgba(58, 150, 207, 0.1);
      //box-shadow: 4px 4px 0 rgba(58, 150, 207, 0.1);
    }
  }

  //.aa-input-search::-webkit-search-decoration, .aa-input-search::-webkit-search-cancel-button, .aa-input-search::-webkit-search-results-button, .aa-input-search::-webkit-search-results-decoration {
  //  display: none;
  //}

  .aa-hint {
    color: #c3c3c3; }
  .aa-dropdown-menu {
    background-color: #fff;
    border: 2px solid rgba(228, 228, 228, 0.6);
    border-top-width: 1px;
    font-family: "Montserrat", sans-serif;
    width: 300px;
    box-shadow: 4px 4px 0 rgba(241, 241, 241, 0.35);
    font-size: 11px;
    border-radius: 4px;
    box-sizing: border-box; }
  .aa-suggestion {
    padding: 12px;
    border-top: 1px solid rgba(228, 228, 228, 0.6);
    cursor: pointer;
    -webkit-transition: .2s;
    transition: .2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .aa-suggestion:hover, .aa-suggestion.aa-cursor {
    background-color: rgba(241, 241, 241, 0.35); }
  .aa-suggestion > span:first-child {
    color: #333; }
  .aa-suggestion > span:last-child {
    color: #373737; }
  .aa-suggestion > span:first-child em, .aa-suggestion > span:last-child em {
    font-weight: 700;
    font-style: normal;
    background-color: rgba(58, 150, 207, 0.1);
    padding: 2px 0 2px 2px; }

  .book-link {
    text-decoration: none;
    &:link { color: #28629b; }
    &:visited { color: #28629b; }
    &:hover { color: #28629b; text-decoration: underline; }
    &:active { color: #28629b; text-decoration: underline; }
  }
}
