@import "normalize";

* { -webkit-font-smoothing: antialiased; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1, h2 {
  font-style: normal;
  margin-bottom: 0;
}

::selection {
  background: #3023AE;
  color: white;
}
::-moz-selection { // firefox
  background: #3023AE;
  color: white;
}

@import "pc/common";

@import "pc/footer";
@import "pc/header";
@import "pc/index";
@import "pc/notfound";
@import "pc/packages";
@import "pc/pricing";
@import "pc/settings";
@import "pc/users";
