@import "normalize";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
* { -webkit-font-smoothing: antialiased; }
::selection {
  background: #3023AE;
  color: white;
}
::-moz-selection { // firefox
  background: #3023AE;
  color: white;
}

@import "pc/common";

@import "pc/donate";
@import "pc/footer";
@import "pc/header";
@import "pc/index";
@import "pc/notfound";
@import "pc/packages";
@import "pc/settings";
@import "pc/users";
