.settings {
  font-family: "Lato", sans-serif;
  font-weight: 400;

  .head-hr {
    margin-top: 0;
    margin-bottom: 0;
    height: 1px;
    background-color: whitesmoke;
    border: 0;
  }


  .menu {
    font-family: "Lato", sans-serif;
    font-weight: 400;

    display: inline-block;
    width: 20%;
    height: 60vw;

    margin-top: 50px;

    border-right: 1px solid whitesmoke;
  }
  .menu-heading {
    display: block;
    box-sizing: border-box;
    border: 1px solid whitesmoke;
    font-size: 18px;
    padding: 8px 10px;
    margin: 0;
    background-color: #0F1D35;
    &:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
  .menu-item {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    font-size: 14px;
    margin-top: 40px;
    padding: 8px 10px;
    height: 40px;
    border-left: solid 3px rgba(0, 0, 0, 0);
    &:hover {
      color: #2357F5;
      i { color: #2357F5; }
    }
  }

  .menu-name {
    margin-left: 30px;
    font-weight: bold;
    text-transform: capitalize;
    //position: absolute;
    //right: 40px;
  }

  .selected {
    color: #2357F5;
    i { color: #2357F5; }
    cursor: default;
    border-left: solid 3px #2357F5;
    &:hover { background-color: transparent; }
  }

  .content {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    min-width: 300px;
    margin-top: 50px;
    padding-left: 60px;
  }

  .list {
    margin-top: 20px;
    padding-right: 60px;
    padding-left: 60px;
  }
  .list-item {
    display: block;
    box-sizing: border-box;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    font-size: 14px;
    padding: 8px 10px;
    height: 40px;
    &:first-child {
      border-top: 1px solid whitesmoke;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  .token {
    margin-top: 20px;
    padding-right: 60px;
    padding-left: 60px;
    i { margin-right: 5px; }
  }
  .token-item {
    display: block;
    box-sizing: border-box;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    font-size: 14px;
    padding: 8px 10px;
    height: 40px;
    &:first-child {
      border-top: 1px solid whitesmoke;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
  .delete-token {
    float: right;
  }

  .fas {
    color: #cbcbcb;
    font-size: 15px;
    font-weight: 900;
    margin-left: 20px;
  }
  .fa-pencil-alt {
    padding-left: 1px;
    padding-right: 1px;
  }
  .fa-user {
    padding-left: 2px;
    padding-right: 2px;
  }
  .fa-bolt {
    padding-left: 4px;
    padding-right: 4px;
  }
  .fa-cube {
    padding-left: 1px;
    padding-right: 1px;
  }
  .fa-key {
    padding-left: 1px;
    padding-right: 1px;
  }


  .ct-chart {
    margin-top: 30px;
  }
  .ct-series-a .ct-line,
  .ct-series-a .ct-point {
    stroke: blue;
  }
  .ct-series-a .ct-area {
    fill: blue;
  }

  .dashboard-storage-content {
    margin-top: 50px;
  }
  .dashboard-storage {
    margin-left: 10px;
    font-weight: bold;
  }
}