@import "normalize";

* {
  -webkit-font-smoothing: antialiased;
}
:root {
  color-scheme: light dark;
}

@mixin link-simplify {
  a {
    &:link {
      color: var(--color);
    }
    &:visited {
      color: var(--color);
    }
  }
}

@mixin link-recognizable {
  a {
    &:link {
      color: #90caf9;
    }
    &:visited {
      color: #90caf9;
    }
    text-decoration: underline;
  }
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;

  font-size: 100%; // 18px
  @media (max-width: 1000px) {
    font-size: 2vw;
  }
  // 1,000px以上は、22pxに
  @media (min-width: 1000px) {
    font-size: calc(137.5%);
  }

  a {
    &:hover { color: #3a96cf; }
    &:active { color: #3a96cf; }
  }
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 74px 1fr 110px;

  color: var(--color);
  background-color: var(--background-color);
  border-color: var(--color);
  @include link-simplify;
}
header {
  grid-column: 1;
  grid-row: 1;
}
main {
  grid-column: 1;
  grid-row: 2;
}
footer {
  grid-column: 1;
  grid-row: 3;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
}
h2 {
  font-size: 1.2rem;
  font-weight: bold;
}
h3 {
  font-size: 0.7rem;
}
p {
  font-size: 0.8rem;
  line-height: 1.5;
}

@import "page/common";

@import "page/footer";
@import "page/header";
@import "page/home";
@import "page/notfound";
@import "page/package";
@import "page/package_list";
@import "page/policies";
