.users {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  .user {
    margin-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
    min-height: 1000px;
  }
  .info {
    display: inline-block;
    width: 260px;
    margin-right: 30px;
  }
  .avatar-top {
    border-radius: 10px;
  }
  .package {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
  }
  .divider {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
  }
  h2 {
    margin-bottom: 8px;
  }
  .link {
    font-style: normal;
    text-decoration: none;
    color: black;
    &:hover {
      text-decoration: underline;
    }
  }
  .fa-github {
    margin-right: 5px;
    font-size: 18px;
  }

  .list-item {
    margin-bottom: 20px;
  }

  .first-header {
    font-size: 24px;
  }
  .packname {
    text-decoration: none;
    color: black;
    font-size: 18px;
    &:hover {
      text-decoration: underline;
    }
  }
  .version {
    color: #8D989E;
    font-size: 17px;
    font-weight: 300;
    margin-left: 10px;
  }
  .description {
    margin: 20px 0 0 0;
    color: gray;
  }
}